{% extends 'common/base.html' %}


{% block content %}
<!DOCTYPE html>
<html>
<style>


input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


</style>
<body>

<h3>Add Job Form</h3>

<div>
  <form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>


{% endblock content %}
    