{% extends 'profile.html' %}

{% block profileinfo %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change Password</title>
    </head>
    <body>
        <h2>Change Password</h2>
        <form action="{% url 'change_pass' %}"   method="post">
            {% csrf_token %}
            <label for="current_password">Current Password:</label><br>
            <input type="password" id="current_password" name="current_password" required><br><br>
            
            <label for="new_password">New Password:</label><br>
            <input type="password" id="new_password" name="new_password" required><br><br>
            
            <label for="confirm_password">Confirm New Password:</label><br>
            <input type="password" id="confirm_password" name="confirm_password" required><br><br>
            
            <button type="submit">Change Password</button>
        </form>
    </body>
    </html>

{% endblock profileinfo %}
    