{% extends 'profile.html' %}

{% block profileinfo %}
    <h1>Work Experience</h1>
    <div class="profile-info">
        <label for="first_name">Work Experience Title:</label><br> <span id="first_name">{{user.seekerworkexperiencemodel.WorkExperienceTitle}}</span><br><br>
        <label for="first_name">Work Experience Company:</label><br> <span id="first_name">{{user.seekerworkexperiencemodel.WorkExperienceCompany}}</span><br><br>
        <label for="first_name">Work Experience Description:</label><br> <span id="first_name">{{user.seekerworkexperiencemodel.WorkExperienceDescription}}</span><br><br>
    <div>




{% endblock profileinfo %}
    