{% extends 'common/base.html' %}


{% block content %}
<!DOCTYPE html>
<html>
<style>


input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

</style>
<body>

<h3>add job Page</h3>

<div>
  <form action="" method="POST" >
{% csrf_token %}
    <label for="fname">Title</label><br>
    <input type="text" id="fname" name="Title" ><br>
    <label for="fname">Number of openings</label><br>
    <input type="number" id="fname" name="Number_openings" ><br>
    <label for="fname">Category</label><br>
    <input type="text" id="fname" name="Category" ><br>
    <label for="fname">Job description</label><br>
    <textarea name="Job_description" id=""></textarea><br>
    <label for="fname">Skills</label><br>
    <input type="text" id="fname" name="Skills" ><br>

    <input type="submit" value="Add Job">
  </form>
</div>

</body>
</html>



{% endblock content %}
    