

<div class="topnav">
    <a href="{% url 'home' %}">Home</a>
    
    {% if user.user_type == 'recruiter' %}
    <a href="{% url 'addjob' %}">Job post</a>
    {% endif %}
 

      
    <a href="{% url 'joblist' %}">Job list</a>
    <a href="{% url 'profile' %}">Profile</a>

    {% if user.user_type == 'seeker' %}
    <a href="{% url 'appliedjob' %}">Applied Job</a>
    {% endif %}

    <a href="{% url 'signout' %}" style='float: right;'>Log out</a>
    <div class="search-container">
      <form action="{% url 'jobsearch' %}" method="GET">
        <input type="text" placeholder="Search.." name="skills">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
</div>