{% extends 'profile/baseprofile.html' %}


{% block proinfo %}
<div>
    <form action="{% url 'changepassword' %}" method="POST">
      {% csrf_token %}
      <label for="fname">Current Password</label>
      <input type="text" id="fname" name="current_pass">
      <br><br>
      <label for="fname">New Password</label>
      <input type="text" id="fname" name="new_pass">
      <br><br>
      <label for="fname">Confirm New Password</label>
      <input type="text" id="fname" name="confirm_new_pass">
      <br><br>
      <input type="submit" value="Submit">
  </form>
  </div>
{% endblock proinfo %}
    